.button {
  padding: 0.75rem 1rem;
  background-color: #0070f3;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #0059c1;
  }

  &:disabled {
    background-color: #aaa;
    cursor: not-allowed;
  }
}
.button--primary {
  background-color: #0070f3;
}
